@import "tailwindcss";

:root {
    --primary-bg: #f3f4f6; /* Light mode background */
    --primary-text: #1a1a1a; /* Light mode text */
  }
  
  .dark {
    --primary-bg: #111827; /* Dark mode background */
    --primary-text: #ffffff; /* Dark mode text */
  }
  
  body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  }
  
  .bg-primary {
    background-color: var(--primary-bg);
  }
  
  .text-primary {
    color: var(--primary-text);
  }
  