@import "tailwindcss";

:root {
    --primary-bg: #f3f4f6; /* Light mode background */

    --secundary-bg: #f3f4f6; /* Dark mode background */

    --primary-text: #0d1b2a; /* Light mode text */

  }
  
  .dark {
    --primary-bg: #0d1b2a; /* Dark mode background */

    --secundary-bg: #1b263b; /* Dark mode background */

    --primary-text: #ffffff; /* Dark mode text */
  }
  
  body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
  }
  
  .bg-primary {
    background-color: var(--primary-bg);
  }

  .nav-primary {
    background-color: var(--secundary-bg);
  }

  .menu-account {
    background-color: var(--secundary-bg);
  }
  
  .text-primary {
    color: var(--primary-text);
  }
  